.sex-balance-indicator
	img(src="assets/images/find.png" height="25px" style="opacity:{{ $ctrl.female/($ctrl.male+$ctrl.female)*$ctrl.female/($ctrl.male+$ctrl.female) }};")
	img(src="assets/images/mind.png" height="25px" style="opacity:{{ $ctrl.male/($ctrl.male+$ctrl.female)*$ctrl.male/($ctrl.male+$ctrl.female) }};")