.userActivities
	.subscribed
		h1 NAJBLIŻSZE
		ul
			li(ng-repeat="activity in $ctrl.userActivities" ng-if="activity.subscribed")
				a
					.col-md-4.col-md-offset-4
						subsc-activity-details(data="activity")
	.unsubscribed
		ul
			li(ng-repeat="activity in $ctrl.userActivities" ng-if="!activity.subscribed")
				a
					.col-md-4.col-md-offset-4
						unsub-activity-details(data="activity")